<section class="catalog__sidebar categories" aria-labelledby="categories-title">
{{ checkCheck() }}
    <h2 class="categories__title" id="categories-title">Категории товаров</h2>

    <ul id="categories-list" class="categories__list">
        @for (category of categories; track category.id) {
            <app-category-item [categoryData]="category"></app-category-item>
        }
    </ul>

    <!-- Диалог для формы добавления категории -->
    <dialog id="add-category-modal" aria-labelledby="add-category-title">
        <div class="modal">
            <div class="modal__header">
                <h2 class="modal__title" id="add-category-title">Добавление категории</h2>
                <button class="modal__close" type="button" data-close aria-label="Закрыть">✕</button>
            </div>

            <section class="modal__body">
                <form class="add-category-form" name="add-category-form" action="#" method="post">
                    <div class="field" data-label="Обязательно для заполнения">
                        <label class="field__label" for="category-name">
                            Наименование категории
                        </label>
                        <input class="field__control" id="category-name" name="category-name" type="text"
                                placeholder="Введите наименование категории" required>
                    </div>

                    <div class="add-product-form__actions">
                        <button id="accept-add-category" class="button">
                            Добавить категорию
                        </button>
                        <button id="cancel-add-category" class="button" type="reset">
                            Отмена
                        </button>
                    </div>
                </form>
            </section>
        </div>
    </dialog>

    <div class="example-btn-container" data-hidden hidden>
        <button
                id="clone-category"
                class="button example-btn"
                type="button">Добавить категорию</button>
    </div>
    </section>
