<footer class="footer" id="footer">
    <div class="footer__inner container">
        <p class="footer__lead">Информация о работе магазина:</p>

        <address class="footer__address">
            <ul class="footer__list">
                <li class="footer__item">График: Пн-Пт, с 9:00 до 21:00</li>
                <li class="footer__item">Телефон: <a class="footer__link" href="tel:+79000000000">+7 (900)
                        000-00-00</a></li>
                <li class="footer__item">Email: <a class="footer__link"
                        href="mailto:info@example.com">info@example.com</a></li>
                <li class="footer__item">Адрес: г. Москва, ул. Примерная, д. 1</li>
            </ul>
        </address>
        <p class="footer__copyright">© 2026 Все права защищены.</p>
    </div>
</footer>
