:host {
    --mat-sys-outline: var(--color-border);
    --mat-sys-on-surface: var(--color-border);
}

.add-product-form {
    &__actions {
        margin-top: 16px;
    }
}

.characteristics {
    padding: 8px;
    margin-top: 16px;
    max-height: 250px;
    overflow: auto;

    &__row {
        display: flex;
    }
}
