<!-- Диалог для формы добавления продукта -->
<dialog #addProductModal aria-labelledby="add-product-title" (click)="onClose($event)">
    <div class="modal">
        <div class="modal__header">
            <h2 class="modal__title" id="add-product-title">Добавление продукта</h2>
            <button
                class="modal__close"
                type="button"
                data-close
                aria-label="Закрыть"
                (click)="onClose()"
            >✕</button>
        </div>

        <section class="modal__body">
            <form
                class="add-product-form"
                [formGroup]="form"
                (ngSubmit)="onSubmit($event)"
                (reset)="onReset($event)"
            >
                <div class="field" data-label="Обязательно для заполнения">
                    <label class="field__label" for="product-name">
                        Название продукта
                    </label>
                    <input
                        class="field__control"
                        id="product-name"
                        formControlName="name"
                        type="text"
                        placeholder="Введите наименование продукта"
                    >
                </div>

                <div class="field" data-label="Обязательно для заполнения">
                    <label class="field__label" for="product-description">
                        Описание продукта
                    </label>
                    <textarea
                        id="product-description" class="field__control"
                        name="product-description"
                        formControlName="description"
                        placeholder="Описание продукта"></textarea>
                </div>

                <div class="field" data-label="Обязательно для заполнения">
                    <label class="field__label" for="product-price">
                        Цена
                    </label>
                    <input
                        formControlName="price"
                        class="field__control"
                        id="product-price"
                        name="product-price"
                        type="number"
                        placeholder="Введите цену продукта"
                    >
                </div>

                <div formArrayName="characteristics" class="characteristics">
                    @for (item of characteristics.controls; track $index) {
                    <div [formGroupName]="$index" class="characteristics__row">
                        <input class="field__control" formControlName="characteristic" placeholder="Характеристика" />
                        <input class="field__control" formControlName="value" placeholder="Значение" />
                        <button type="button" (click)="removeCharacteristic($index)" class="modal__close">X</button>
                    </div>
                    }
                </div>
                <button type="button" class="button" (click)="addCharacteristic()">Добавить характеристику</button>

                <div class="add-product-form__actions">
                    <button id="accept-add-product" class="button" [disabled]="form.invalid">
                        Добавить продукт
                    </button>
                    <button id="cancel-add-product" class="button" type="reset">
                        Отмена
                    </button>
                </div>
            </form>
        </section>
    </div>
</dialog>
