<section class="catalog__content products-section">
    <section class="products-section__block" aria-labelledby="popular-title">
        <h2 class="products-section__title" id="popular-title">Популярные продукты</h2>

        <input [(ngModel)]="searchData" (input)="search($event)">

        <div id="product-list" class="product-grid">
            @let list = productList();

            @for (product of list; track product.id) {
                <app-product-item
                    [title]="product.name"
                    [description]="product.description"
                    [price]="product.price"
                    (delete)="deleteProduct(product.id)"
                    (click)="onProductCardClick(product.id)"
                >
                    <span>{{ $first ? 'first' : 'not first' }} </span>
                    <span header>Hello 2</span>
                </app-product-item>
            } @empty {
                <div class="empty-list">У данной категории не добавлены продукты</div>
            }
        </div>

        @if (isAddModalOpen()) {
        <app-add-product-modal
            [isOpen]="isAddModalOpen()"
            (close)="closeModal($event)"
        ></app-add-product-modal>
        }

        <div class="example-btn-container">
            <button
                class="button example-btn"
                type="button"
                (click)="openModal()"
            >
                Добавить продукт
            </button>
        </div>

    </section>
</section>
